@tailwind base;
@tailwind components;
@tailwind utilities;




.text-gradient {
  background: linear-gradient(45deg, #6d0064, #db00be);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.btn-blanco {
  border-radius: 60px;
  border: 1px solid #1a1a1a;
  width: 40%;
  height: 70px;

}



.background{ 
  position: fixed;
  right: -280px;
  bottom: -300px;
  z-index: -999;  
  opacity: 0.5;
 
}

#bg3 {
  position: fixed;
  right: 1000px;
  bottom: 0px;
  z-index: -999;  
  
}

#pattern {
  position: absolute;
  top: -200px;
  z-index: -999;
  left: 400px;
  opacity: 0.5;
}


.axelphoto{
  background-image: url(assets/axel.png);
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: center bottom;
}


.mode{
  position: fixed;
  bottom:50px;
  right:30px;
}


.linkedin:hover {
  fill: #0A66C2;
}




.col-span-2.hovered {
  width: 100%;
  transition: width 0.5s ease;
  background-color: #11181C;
}

.tecnologia-icono {
  fill: #11181C !important;
  width: 30px;
  height: auto;
}

.tecnologia-icono-grande {
  width: 20px;
  height: auto;
  fill: #11181C !important;
}

.tecnologia-icono-small {
  width: 45px;
  height: 45px;
  fill: #11181C !important;
}

.tecnologia-icono-boots {
  width: 38px;
  height: 38px;
  fill: #11181C !important;
}


.iconwhite2  {
  filter: invert(100%) !important ;
}




.swiper-pagination-bullet-active {
    background: #2b2b2b;
}

.swiper-pagination-bullet {

  background: #696969;
}

.carrusel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  padding: 20px;   
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 99%);

}

.glass{

border:  1px solid rgba(245, 247, 250, 0.151);
}


.mySwiper2 {
  width: 100%;
  height: 300px; 
  border-radius: 15px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





