@tailwind base;
@tailwind components;
@tailwind utilities;


.text-gradient {
  background: linear-gradient(45deg, #6d0064, #db00be);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.btn-blanco {
  border-radius: 60px;
  border: 1px solid #1a1a1a;
  width: 40%;
  height: 70px;

}

.btn-blanco:hover {
  background-color: #1a1a1a !important;
  color: white;
}

.iconwhite {
  fill: #11181C;
}

body {
  background-image: url(./assets/bg.png);
  background-size:auto;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.linkedin:hover {
  fill: #0A66C2;
}



